<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 변경</title>
</head>
<body>
<h1>회원 비밀번호 변경</h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

<form method="post">
  <div>
    <input type="text" name="password" placeholder="새로운 비밀번호 입력" required/>
  </div>
  <div>
    <input type="password" name="newpassword" placeholder="새로운 비밀번호 확인" required/>
  </div>
  <div>
    <button type="submit"> 수정하기 </button>
  </div>
</form>
</body>
</html>